<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz 1</title>
</head>
<body style="background-color: teal;">
<ul>
  <li><a href="/"  class="active">Home</a></li>
  <li><a href="/page2.html" >Page2</a></li>
</ul>
<div style="float:right;">
<h1>Shruthaja Patali Rao</h1>
<h2>1002118604</h2>
<img src="https://shruthaja.blob.core.windows.net/quiz1/md.jpg">
</div>
<div style="margin-top:10%">
<form action="/" method="post">
    <lable> Enter Row Number :</lable>
    <input type="text" name="rowno">
    <input type="submit">
</form>
    <table style="margin-top:3%">
   {% for i in res %}
<tr>
    <td>{{i[0]}}</td>
    <td>{{i[1]}}</td>
    <td>{{i[2]}}</td>
    <td><img src=" {{i[3]}}"></td>
    <td>{{i[4]}}</td>
    </tr>
    {% endfor %}
        </table>
    </div>
<div style="margin-top:10%">
    <form action="/seat" method="post">
        <label>Enter Seat Range to search <input type="text" name="start" value="null"> <input type="text" name="end" value="null"></label>
        <label>Enter Seat Letter <input type="text" name="seatletter" value="null"></label>
        <input type="submit">
    </form>
        <table style="margin-top:3%">

   {% for i in seatres %}
<tr>
    <td>{{i[0]}}</td>
    <td>{{i[1]}}</td>
    <td>{{i[2]}}</td>
    <td><img src=" {{i[3]}}" alt="No Image"></td>
    <td>{{i[4]}}</td>
    </tr>
    {% endfor %}
        </table>

        <table style="margin-top:3%">

       {% for i in seatletterres %}
<tr>
    <td>{{i[0]}}</td>
    <td>{{i[1]}}</td>
    <td>{{i[2]}}</td>
    <td><img src=" {{i[3]}}" alt="No Image"></td>
    <td>{{i[4]}}</td>
    </tr>
    {% endfor %}
        </table>
        <table style="margin-top:3%">

   {% for i in allres %}
<tr>
    <td>{{i[0]}}</td>
    <td>{{i[1]}}</td>
    <td>{{i[2]}}</td>
    <td><img src=" {{i[3]}}" alt="No Image"></td>
    <td>{{i[4]}}</td>
    </tr>
    {% endfor %}
        </table>
</div>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
table, th, td {
  border: 1px solid black;
}
</style>
</body>
</html>