<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz 1</title>
</head>
<body style="background-color:teal">
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/page2..html" class="active">Page2</a></li>
</ul>
<div style="float:right;">
<h1>Shruthaja Patali Rao</h1>
<h2>1002118604</h2>
    </div>
<div style="margin-top:10%">
    <form action="/page2.html" method="post" enctype="multipart/form-data">
        <label >Add User</label>
        <input type="text" name="uname" placeholder="Enter Name">
        <input type="text" name="urow" placeholder="Enter row">
        <input type="text" name="useat" placeholder="Enter SeatLetter">
        <input type="file" placeholder="Enter Image" name="upic">
        <input type="text" name="unotes" placeholder="Enter Notes">
        <input type="submit">
    </form>
     <table style="margin-top:3%">
   {% for i in res %}
<tr>
    <td>{{i[0]}}</td>
    <td>{{i[1]}}</td>
    <td>{{i[2]}}</td>
    <td><img src=" {{i[3]}}"></td>
    <td>{{i[4]}}</td>
    </tr>
    {% endfor %}
        </table>
</div>
<div style="margin-top:10%">
    <form action="/delete" method="post">
<label> Enter User to Delete</label><input type="text" name="delname">
        <input type="submit">
    </form>
    {{delres}}
</div>
<div style="margin-top:5%">
    <form action="change2" method="post">
    <label>Change attributes</label>
    <input type="text" name="cname" placeholder="Enter Name">
        <select name="att" id="att">
  <option value="row">Row</option>
  <option value="seat">Seat</option>
  <option value="notes">Notes</option>
</select>
      <input type="text" name="attvalue" placeholder="Enter chosen attributes new value">
        <input type="submit">

        </form>
</div>
<div style="margin-top:5%">
    <form action="/changepic" method="post" enctype="multipart/form-data">
    <label>Change Pic</label>
    <input name="cpicname" placeholder="Enter name">
    <input type="file" name="picchange">
        <input type="submit">
        </form>
    <img style="margin-top:2%" src="{{urlpic}}">
</div>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
table, th, td {
  border: 1px solid black;
}
</style>
</body>
</html>