<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz 1</title>
</head>
<body style="background-color:teal">
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/page2..html" class="active">Page2</a></li>
</ul>
<div style="float:right;">
<h1>Shruthaja Patali Rao</h1>
<h2>1002118604</h2>
    </div>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
</body>
</html>